In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import HTML

%matplotlib inline

In [16]:
py_questions = pd.read_csv('pythonquestions/Questions.csv', encoding='iso-8859-1')
py_questions['CreationDate'] = pd.to_datetime(py_questions['CreationDate'])

py_answers = pd.read_csv('pythonquestions/Answers.csv', encoding='iso-8859-1')
py_answers['CreationDate'] = pd.to_datetime(py_answers['CreationDate'])

py_tags = pd.read_csv('pythonquestions/Tags.csv')

In [17]:
r_questions = pd.read_csv('rquestions/Questions.csv', encoding='iso-8859-1')
r_questions['CreationDate'] = pd.to_datetime(r_questions['CreationDate'])

r_answers = pd.read_csv('rquestions/Answers.csv', encoding='iso-8859-1')
r_answers['CreationDate'] = pd.to_datetime(r_answers['CreationDate'])

r_tags = pd.read_csv('rquestions/Tags.csv')

In [18]:
py_questions.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02 15:11:16,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02 17:01:58,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02 18:43:54,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03 01:15:08,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03 13:19:16,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [19]:
display(HTML(py_questions.loc[1001, 'Body']))

In [20]:
py_questions.sort_values('Score', ascending=False).head(10)

,Id,OwnerUserId,CreationDate,Score,Title,Body
962,231767,18300.0,2008-10-23 22:21:11,5524,"What does the ""yield"" keyword do?",<p>What is the use of the <code>yield</code> k...
334,100003,9951.0,2008-09-19 06:10:46,3219,What is a metaclass in Python?,<p>What are metaclasses? What do you use them ...
291,82831,15616.0,2008-09-17 12:55:00,2729,How do I check whether a file exists using Pyt...,"<p>How do I check whether a file exists, witho..."
1874,394809,51518.0,2008-12-27 08:32:18,2655,Does Python have a ternary conditional operator?,<p>If Python does not have a ternary condition...
306,89228,17085.0,2008-09-18 01:35:30,2312,Calling an external command in Python,<p>How can I call an external command (as if I...
2018,419163,51518.0,2009-01-07 04:11:00,2184,"What does `if __name__ == ""__main__"":` do?","<p>What does the <code>if __name__ == ""__main_..."
4086,739654,1897.0,2009-04-11 07:05:31,1920,How to make a chain of function decorators in ...,<p>How can I make two decorators in Python tha...
116,38987,3207.0,2008-09-02 07:44:30,1867,How to merge two Python dictionaries in a sing...,"<p>I have two Python dictionaries, and I want ..."
3216,613183,2786.0,2009-03-05 00:49:05,1837,Sort a Python dictionary by value,<p>I have a dictionary of values read from two...
1175,273192,13055.0,2008-11-07 18:56:45,1739,How to check if a directory exists and create ...,<p>What is the most elegant way to check if th...

In [21]:
py_questions.sort_values('Score').head(10)

,Id,OwnerUserId,CreationDate,Score,Title,Body
313949,25970488,2955338.0,2014-09-22 09:16:37,-44,How to collate attribute values stored as dict...,<p>In my list each element is a dict of the fo...
392603,30402552,4674272.0,2015-05-22 17:24:40,-32,How to multiply the same number? (x^2),<p>I need a program in Python that would read ...
568352,38567618,3809375.0,2016-07-25 12:20:48,-19,Recursive to iterative using a systematic method,"<p>I've started reading the book <em><a href=""..."
427036,32191198,4864486.0,2015-08-24 20:29:31,-18,I would like to split this into a list but i d...,<p>I have this string </p>\n\n<pre><code>var(H...
326305,26724585,4212189.0,2014-11-03 22:38:03,-18,What is equivalent of Python's time.time() in ...,<p>what is the Perl equivalent of Python's tim...
504507,35779178,6014650.0,2016-03-03 17:38:34,-17,What is the equivalent of string in C++,"<p>In Python, there is a type <code>string</co..."
448844,33287341,5476930.0,2015-10-22 17:46:33,-17,Need help debugging python code,<p>What is wrong with my mode code? I'm trying...
557178,38106947,6288320.0,2016-06-29 17:59:56,-16,Why Does This Python Function Print Twice?,<p>I'm not able to walk through as to why this...
504131,35761354,1299158.0,2016-03-03 01:17:53,-14,Pyramidal Histogram Of Oriented Gradients - Tr...,<p>Hello im struggling with an implementation ...
550807,37833625,4825933.0,2016-06-15 11:04:57,-14,Python : What is the purpose of a colon in an ...,<p>I have this piece of python code below.</p>...

In [31]:
import re

re.sub('<?[a-zA-Z0-9_ ]+>', '', 'This is a <p> paragraph')

'This is a  paragraph'